.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card{
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-header{
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.card-body{
  padding: 15px;
}

.card-container button{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4f4a4a4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-container button:hover{
  background-color: #3e3b3b;
}


.clase-par{
  background-color: #356997;
  color: beige;
}

.clase-impar{
  background-color: #9bbce8;
  color: black;
}
